<div>
    <table>
        <tbody>
            <tr *ngFor="let row of cells">
                <td *ngFor="let cell of row">
                    <button type="button"
                            class="btn btn-default mine-cell"
                            [class.disabled-cell]="cell.disabled"
                            [class.marked-cell]="cell.marked"
                            [disabled]="cell.disabled"
                            (click)="cellClick($event, cell.row, cell.column)">
                        {{cell.text}}
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<style>
    .mine-cell {
        height: 30px;
        width: 30px;
    }
    .disabled-cell {
        background-color: gray;
    }
    .marked-cell {
        background-color: green;
    }
</style>